{$SERVER_NAME}:80 {
    header / -Server

    gzip

    root /_/build

    rewrite / {
        to {path} /
    }
}

api.{$SERVER_NAME}:80 {
    header / -Server

    cache
    gzip

    proxy / backend:8000 {
        # except /static /media
        transparent
    }
    root /_
}
